@import './normalize';
@import './variable';
@import './cart';

*{
    box-sizing: border-box;
}
h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: block;
  }
  a {
    cursor: pointer;
    color: $main-color;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
  }
  input[type="search"]{
    border:solid 1px #ccc;
    font-size: 24px;
    line-height: 36px;
    padding-left:10px;
    font-style: Microsoft JhengHei;
    -webkit-box-shadow: inset 10px 12px 18px -16px rgba(0,0,0,0.43);
    -moz-box-shadow: inset 10px 12px 18px -16px rgba(0,0,0,0.43);
    box-shadow: inset 10px 12px 18px -16px rgba(0,0,0,0.43);
    border-radius: 10px;
    outline: none;
    color:#333;
  }


  .white-text {
    color: #fff;
    text-decoration: none;
    &:hover{
        color: darken($main-color,10%)
    }
  }

/* float */

.float-right{
  float:right;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* Flex */
.flex{
  display:flex;
  flex-wrap: wrap;
  flex-direction:row;
  align-items: flex-start;
  vertical-align: top;
  justify-content: center;
}



aside{
    &.aside{
        color: $main-color;
        float:left;
        width:25%;
        padding:10px;
        li::before{
          content:'›';
          padding:5px;
        }
      }    
}
 
  .content{
    width:75%;
    padding:20px;
    float:right;
  }

  footer{
      color:#fff;
      line-height: 24px;
      text-align: center;
      background-color:$main-color;
  }